@import '../styles/variables.scss';

.post-summary {
	a {
		font-size: 1.875rem;
		color: $color-gray;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	span {
		color: $color-light-gray;
		display: block;
		margin-top: 0.5rem;
	}
}

.post-date {
	color: $color-light-gray;
	display: block;
	margin-top: 0.5rem;
}

.garden-header-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 6rem;

	@media screen and (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.post-sub-text {
	display: flex;
	flex-direction: column;

	span {
		display: block;
		color: $color-light-gray;
		margin-top: 0.5rem;
		font-size: 1rem;
		font-weight: normal;
	}
}

.post-filters {
	display: flex;
	font-size: 1rem;
	flex-direction: column;
	&__topic {
		list-style-type: none;
		padding: 0;
		margin-top: 0;
	}

	&__state {
		list-style-type: none;
		padding: 0;

		li {
			float: left;
			margin-right: 0.5em;
		}
	}
}

.post-list {
	margin-top: 3rem;
}

.post-body {
	margin-top: 3rem;
	color: $color-gray;
}
