@import '../styles/variables.scss';

.post-summary {
	margin-bottom: 3.5rem;

	a {
		font-size: 1.875rem;
		color: darken($color-light-gray, 15%);
		text-decoration: none;
		font-weight: bold;

		&:hover {
			text-decoration: underline;
		}
	}

	.post-summary-data {
		color: $color-light-gray;
	}

	span {
		color: $color-light-gray;
		display: block;
	}
}

.post-date {
	color: $color-light-gray;
	display: block;
	margin-top: 0.5rem;
}

.garden-header-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 6rem;

	@media screen and (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.garden-intro {
	margin-bottom: 3rem;
}

.post-tags {
	color: $color-off-white;
	margin-bottom: 1rem;
	font-size: 1rem;

	span {
		background: $color-light-gray;
		border-radius: 0.25rem;
		padding: 0.25rem 0.5rem;
		margin-right: 0.75rem;
		display: inline-block;
	}
}

.post-sub-text {
	display: flex;
	flex-direction: column;

	span {
		display: block;
		color: $color-light-gray;
		margin-top: 0.5rem;
		font-size: 1rem;
		font-weight: normal;
	}
}

.post-filters {
	display: flex;
	font-size: 0.875rem;
	flex-direction: column;

	&__topic {
		list-style-type: none;
		padding: 0;
		margin-top: 0;
		margin-bottom: 1.125rem;
		display: flex;
		flex-wrap: wrap;

		span {
			cursor: pointer;
			border-radius: 0.25rem;
			padding: 0.325rem 0.5rem;
			margin-right: 0.75rem;
			margin-bottom: 1rem;
			font-size: 1rem;

			&.selected {
				background: $color-light-gray;
				color: $color-off-white;
			}

			&.unselected {
				background: $color-off-white;
				color: $color-light-gray;

				&:hover {
					background: $color-light-gray;
					color: $color-off-white;
				}
			}
		}
	}

	&__state {
		list-style-type: none;
		padding: 0;

		span {
			cursor: pointer;
			margin-right: 0.625rem;
			border-bottom: 1px solid #ccc;
			padding: 0.25rem 0.5rem;
			color: $color-light-gray;
			font-size: 1rem;

			&:hover {
				border-bottom: 1px solid $color-light-gray;
			}

			&.selected {
				border-bottom: 1px solid $color-light-gray;
				background: $color-light-gray;
				color: $color-off-white;
				border-radius: 0.25rem;
			}
		}

		li {
			float: left;
			margin-right: 0.5em;
		}
	}
}

.post-list {
	margin-top: 3.25rem;
}

.post-body {
	margin-top: 3rem;
	color: $color-gray;
}

.post-header-divider {
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
	margin-top: 1.5rem;
}
