@import '../variables.scss';

.job-card {
	margin-bottom: 3.75rem;
	color: $color-dark-gray;

	@media screen and (min-width: 1024px) {
		&::before {
			content: '';
			position: absolute;
			width: 9px;
			height: 9px;
			border: 3px solid darken($color-dark-gray, 10%);
			transform: translateY(29px);
			left: calc(100% - 846px);
			background: darken($color-dark-gray, 10%);

			&:first {
				background: none;
			}
		}

		&::after {
			left: calc(100% - 840px);
			content: '';
			position: absolute;
			z-index: -1;
			top: 165px;
			bottom: 0;
			width: 3px;
			background-color: darken($color-dark-gray, 10%);
		}
	}

	.company-name {
		font-size: 2.375rem;
		color: darken($color-dark-gray, 10%);
	}

	.job-card__header {
		padding: 0.75rem 0rem;
		position: relative;
	}

	.job-card__body {
		display: flex;
		flex-direction: column;
		border-radius: 6px;
		padding-top: 0.75rem;
		position: relative;

		.title {
			font-size: 1.625rem;
			font-style: italic;
			position: absolute;
			border-radius: 6px 6px 0px 0px;
			top: 0;
			left: 0;
			width: 100%;
			margin-bottom: 0.5rem;
			padding: 1.125rem 0rem;
			box-sizing: border-box;
			color: darken($color-dark-gray, 10%);
		}

		.body-summary {
			font-size: 1rem;
			margin-top: 3.5rem;

			p {
				font-family: 'Roboto Slab', sans-serif;
				line-height: 2.5;
			}
		}
	}

	.job-card__skills {
		display: flex;
		margin: 0.75rem 0px 1.125rem 0px;
		flex-wrap: wrap;
	}

	a {
		color: $color-black;
	}
}
