@import '../variables.scss';

.job-card {
	margin-bottom: 3.75rem;
	color: $color-dark-gray;

	@media screen and (min-width: 1025px) {
		&::before {
			content: '';
			position: absolute;
			width: 9px;
			height: 9px;
			border: 3px solid $color-gray;
			transform: translateY(29px);
			left: calc(100% - 746px);
			background: $color-gray;

			&:first {
				background: none;
			}
		}

		&::after {
			left: calc(100% - 740px);
			content: '';
			position: absolute;
			z-index: -1;
			top: 165px;
			bottom: 0;
			width: 3px;
			background-color: $color-gray;
		}
	}

	.company-name {
		font-size: 2.375rem;
	}

	.job-card__header {
		padding: 0.75rem 0rem;
		position: relative;
	}

	.job-card__body {
		display: flex;
		flex-direction: column;
		border-radius: 6px;
		padding-top: 0.75rem;
		position: relative;

		.title {
			font-size: 1.625rem;
			font-style: italic;
			position: absolute;
			border-radius: 6px 6px 0px 0px;
			top: 0;
			left: 0;
			width: 100%;
			margin-bottom: 0.5rem;
			padding: 1.125rem 0rem;
			box-sizing: border-box;
		}

		.body-summary {
			font-size: 1rem;
			margin-top: 3.5rem;
		}
	}

	.job-card__skills {
		display: flex;
		margin: 0.75rem 0px 1.125rem 0px;
		flex-wrap: wrap;

		.skill {
			font-size: 0.875rem;
			background: $color-dark-gray;
			color: $color-off-white;
			padding: 0.5rem;
			border-radius: 0.125rem;
			margin: 0.25rem 0.5rem 0.25rem 0rem;

			&:first-of-type {
				margin-left: 0px;
			}
		}
	}

	a {
		color: $color-black;
	}
}
