.resume-container {
	max-width: 700px;
	margin: 0 auto;
}

.job-card {
	display: flex;
	flex-direction: column;
	// padding: 3rem;
	// background: blue;

	.job-card__header {
		display: flex;
		flex-direction: column;
	}

	.job-card__body {
		display: flex;
		flex-direction: column;
		background: #1f2229;
		// background: #7c9ac2;
	}
}
