// IBM Plex Sans

// Regular
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

// Bold
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');

// Roboto

// Medium Italic
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
// Regular
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap');

// Icons
@import url('https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css');

:root {
	--blueLight: #2477ad;
	--purpleLight: #586da3;
	--purpleDark: #384669;
	--purpleDarkest: #0e1627;
	--grayDark: #1f2229;
}

body {
	font-family: 'IBM Plex Sans', sans-serif;
	// color: rgba(255, 255, 255, 0.85);
	color: black;
}

// Pages
.flex {
	display: flex;
	.flex-column {
		flex-direction: column;
	}
}

// .about {
// 	align-self: center;
// 	justify-self: center;
// 	box-sizing: border-box;
// 	margin: 0 24px 96px 24px;
// 	display: flex;
// 	flex-direction: column-reverse;
// 	align-items: center;
// 	text-align: center;
// 	color: #fdfdfd;
// 	.title {
// 		font-family: 'Roboto Mono';
// 		font-size: 36px;
// 	}

// 	.body {
// 		font-size: 22px;
// 		line-height: 32px;
// 	}

// 	@media screen and (min-width: 1366px) {
// 		text-align: left;
// 		flex-direction: row;
// 		justify-content: space-between;
// 		margin: 0px 240px 72px 240px;

// 		.about-blurb {
// 			margin-right: 12px;
// 		}
// 		.title {
// 			margin-top: 0;
// 		}
// 	}
// }
