// FONTS

// IBM Plex Sans Regular
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
// IBM Plex Sans Bold
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');

// Roboto Medium Italic
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
// Roboto Regular
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap');

// Roboto Mono Regular
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

// Variables
@import './variables.scss';

// Components

// Header
@import '../components/Header/Header.scss';
// Home
@import '../components/Home/Home.scss';
// Layout
@import '../components/Layout/Layout.scss';
// Navbar
@import '../components/Navbar/Navbar.scss';

// Pages

// Blog
@import './pages/blog.scss';
// Resume
@import './pages/resume.scss';

// Overwrite code font-family style
:root{
	--deckgo-highlight-code-font-family: 'Roboto Mono';
}

::selection {
	background: $color-dark-gray;
	color: $color-off-white;
}

html {
	font-size: 13px;
	@media screen and (min-width: 768px) {
		font-size: 16px;
	}
}

body {
	font-family: 'IBM Plex Sans', sans-serif;
	color: $color-gray;
}

p {
	line-height: 1.7;
	font-size: $font-size-base;
}

small {
	font-size: 0.875rem;
}

// Page Layout
.page-body-container {
	max-width: 800px;
	width: 88%;
	margin: 0 auto;
	position: relative;

	.page-header {
		line-height: 1.2;
		font-size: 3.5rem;
		font-weight: 700;
		color: $color-black;
	}
}
