.main {
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #fdfdfd;
	background-color: #2477ad;
	opacity: 0.91;
}
