.main {
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #fdfdfd;
	// color: #ffffffe0;
	// color: #32c4f0;
	background-color: #2477ad;
	// background-color: #2694b5;
	opacity: 0.91;
}
