@import '../../styles/variables.scss';

.home-layout {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	.main {
		display: flex;
		flex-direction: column;
	}
}

.intro {
	text-align: center;
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 200px;
	align-items: center;
	margin: auto;
	color: $color-black;

	h3 {
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		margin-top: 0;
		margin-bottom: 0.75rem;
		font-size: $h3-font-size;
	}

	h5 {
		font-size: $h5-font-size;
		font-style: italic;
		font-weight: normal;
		margin-top: 0;
		margin-bottom: 1.125rem;
	}

	.social-media-links {
		align-self: center;
		text-align: center;
		padding: 0;
		margin: 0;

		li {
			margin-top: 1rem;
			list-style-type: none;
			float: left;
			margin: 0 1rem;

			a {
				color: inherit;
				font-size: 2rem;
			}
		}
	}

	.hero-svg {
		fill: none;
	}
}
