@import "../../styles/variables.scss";

.global-header {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 88%;
  font-size: 1rem;
  margin: 1.75rem auto;

  a {
    color: gray;
    text-decoration: none;

    &.home-link {
      font-family: "Roboto";
      font-size: 1.75rem;
      font-weight: 500;
      font-style: italic;
      color: inherit;
      margin-bottom: 1rem;
    }
  }
}
