.global-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px;
	position: sticky;

	a {
		margin: 0 8px;
		color: inherit;
		text-decoration: none;

		&:hover {
			text-shadow: 0 0 7px #fff;
		}
	}

	@media screen and (min-width: 1366px) {
		padding: 40px 240px;
	}
}
