.nav-desktop {
	display: flex;
	width: 240px;
	justify-content: space-between;

	// a {
	// 	margin-right: 16px;
	// 	color: inherit;
	// 	text-decoration: none;

	// 	&:hover {
	// 		text-shadow: 0 0 7px #fff;
	// 	}
	// }
}
