@import '../../styles/variables.scss';

.nav-desktop {
	font-family: 'Roboto';
	border-bottom: 1px solid $color-gray;
	padding-bottom: 0.75rem;
	display: flex;
	justify-content: space-between;

	a {
		margin-right: 0.75rem;

		&:hover {
			color: $color-black;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}
}
