@import "../../styles/variables.scss";

.nav-desktop {
  font-family: "Roboto";
  border-bottom: 1px solid $color-light-gray;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;

  a {
    margin-right: 1rem;
    font-size: 1.125rem;

    &:hover {
      color: $color-black;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
